* {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    color: #001920;
}

html {
    background: linear-gradient(270deg, #9DEDE5 58.38%, #E6FEFC 100%);
    /* background: white; */
}

/* .header_1{
    background: linear-gradient(270deg, #9DEDE5 58.38%, #E6FEFC 100%);
} */

:root{
    --title-1-color: #006079;
    --common-text-1-color: #001920;
}

div.div-flex.logo img {
    max-width: 300px;
    max-height: 80px;
    transform: translateY(-6%);
}

div.div-flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

div.div-flex.nav a {
    padding: 10px;
    font-size: 17px;
}

/* Content Header */

section.section-content-header {
    margin: 100px 0px 100px 0px;
}

div.div-flex.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div.div-title {
    text-align: center;
    transform: translateX(min(30%));
}

div.div-title h1 {
    color: var(--title-1-color);
    text-align: right;
    font-size: 6vw;
    font-weight: 400;
}

.title-3{
    color: var(--title-1-color);
    text-align: left;
    font-size: 2.5vw;
    font-weight: normal;
}

div.div-img {
    background: linear-gradient(270deg, rgba(39, 172, 159, 0.50) 66.21%, rgba(119, 217, 211, 0.00) 100%);
    width: 80%;
    max-width: 800px;
    min-width: 550px;
}

div.div-img img{
    width: 80%;
    transform: translate(30%, -5%);
}

footer {
    background-color: #001920;
    height: 100%;
}

footer a, h3, p{
    color: black;
}

div.div-flex.dev {
    padding-right: 10%;
    border-right: 1px solid black;
    height: 100%;
}

.links-footer {
    width: 10%;
    padding-right: 10%;
    border-right: 1px solid black;
    height: 100%;
}

.dev-footer {
    width: 40%;
    margin: 0px 10px 0px 10px;
}

.img-footer {
    width: 20%;
}

.div-flex-2{
    display: flex;
    flex-direction: column;
}

.main-1{
    display: flex;
    flex-direction: column;

    width: 100%;

    justify-content: center;
    align-items: center;

    background: #E4FFFC;
}

.o-que-e-seguranca-digital-1{
    flex-direction: row;
    width: 100%;
    /* height: 200px; */
    justify-content: space-around;
    align-items: center;

    /* background: #E4FFFC; */

    padding-top: 8%;
    padding-bottom: 8%;
}

.o-que-e-seguranca-digital-1-1{
    height: auto;
    width: 40%;
    padding-left: 8%;
    padding-right: 2%;
    justify-content: center;
    align-items: center;
    /* background: red; */
}

.o-que-e-seguranca-digital-1-2{
    width: 45%;
    padding-left: 7%;
    /* padding-right: 5%; */
    justify-content: left;
    align-items: end;
    /* background: blue; */
}

#title-3-1{
    width: 100%;
    margin-bottom: 40px;
}

.common-text-1{
    color: var(--common-text-1-color);
    font-size: 1.2vw;
    font-weight: normal;
}

.common-text-1-1{
    padding-left: 10%;
    margin-bottom: 40px;
}

.div-img-2{
    /* transform: translateY(25%); */
    display: flex;
    flex-direction: column;

    align-items: end;

    width: 100%;
    background: linear-gradient(270deg, rgba(0, 96, 121, 1) 66.21%, rgba(0, 171, 154, 0.23) 100%);
}

.img-2{
    width: 90.5%;
    max-width: 860px;
    transform: translate(0, -16%);
}

.hr_1{
    background: var(--title-1-color);
    width: 100%;
    height: 2px;
    margin-bottom: 40px;
}

@media screen and (max-width: 1000px ) {

    
    div.div-flex {
        display: flex;
        flex-direction: column;
    }

    header {
        height: 180px;
    }

    /*  */

    div.div-flex.content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    div.div-title {
        display: flex;
        text-align: center;
        transform: translateX(0);
        margin-bottom: 50px;
    }

    div.div-title h1 {
        padding: 10px;
        font-size: 40px;
    }

    div.div-img {
        width: 100%;
        max-width: 600px;
    }

    div.div-img img{
        width: 100%;
        transform: translate(0);
    }
}